body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a{
    color: white;
    text-decoration: none;
}
header img{
    display: flexbox;
    justify-content: space-around;
}
.center img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid grey;
    object-fit: cover;
}
.center{
    text-align: center;
}
h1{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    color: grey;
}
footer img{
    width: 40px;
    height: 40px;
}
footer{
    display: flex;
    justify-content: center;
}
footer a{
        margin: 20px;
        text-align: center;
}
footer p{
    margin-top: 2px;
}
.container {
    padding: 0px 50px;
    
}
nav{
    display: flex;
    justify-content: center;
}
.habi img{
    width: 50px;
    height: 50px;

}
.habi p{
    display:inline;
    align-items:center;
    justify-content: space-between;
    text-align: center;
    gap: 2vh;
}
h3{
   display: flex; 
   justify-content: center;
   color: gray;
}
.dow{
    width: 40vw;
    height: 40px;
    object-fit: cover;
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5vh;
}
.dow img{
    width: 30px;
    height:30px;
    
}
#downCv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
    border: 2px solid gray;
    border-radius: 7px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

